{% extends "main.html" %}
{% block content %}
    <br>
    <p><b>Classified files</b></p>
    <table border="1" style="border-collapse:collapse" width="800"><tbody>
    <tr><th width="400">File Name</th><th width="400">Category<td></tr>
    {% for file in final %}
        <tr><td width="400">{{ file }}</td><td>{{ final[file] }}</td></tr>
    {% endfor %}
    </tbody></table>
    <br>
    <form action="/getzip/" method="POST" ><input type="submit" name="getzip" value="Get ZIP file"></form>
{% endblock %}